<div class="main" [ngClass] = "{'scroll-bottom' : scrollDirection === ScrollDirection.Bottom, 
                                'scroll-top' : scrollDirection === ScrollDirection.Top,
                                'scroll-max-top' : scrollDirection === ScrollDirection.MaxTop}">
  <nav class="navbar">
    <img
      src="assets/commons/boulangerie_logo.png"
      alt="boulangerie logo"
    />
    <a class="toggle-button" (click)="OpenCloseNavigationHeader('toggle')">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </a>
    <div class="navbar-links" (clickOutside)="onClickOutside($event)">
      <ul>
        <li><a routerLink="test" routerLinkActive="router-link-active"  routerLinkActive="active">Nos articles</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Nous contacter</a></li>
        <li><a class="button-primary-filled margin-right-8">Connexion</a></li>
        <li><a href="#" class="button-white-notfilled-primary">Inscription</a></li>
      </ul>
    </div>
  </nav>
</div>
