@use '@angular/material' as mat;
@import "_colors";
@import "font";

.main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 10rem;
    overflow: hidden;
    transition: all 0.3s ease-in;
    @include mat.elevation(8);

    &.scroll-bottom {
        height: 0 !important;
        padding-top: 0 !important;
    }

    &.scroll-top {
        position: fixed;
        background-color: $color-primary-brown;
    }

    &.scroll-max-top {
        box-shadow: none;
    }
}

.navbar {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

img {
    min-width: 12rem;
    height: 8rem;
    margin: .5rem;
}


.navbar-links {
    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        a {
            @include font-navigation-menu();
            display: block;
            text-decoration: none;
            color: white;
            padding: 1rem;
            transition: all 0.3s ease;

            &:not(.button-white-notfilled-primary):not(.button-primary-filled) {
                &:hover {
                    color: $color-hover-default;
                    transition: color 0.3s ease;
                }
            }
        }
    }
}

.toggle-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    min-height: 2.5rem;
    cursor: pointer;

    span {
        height: 0.3rem;
        width: 100%;
        background-color: white;
        border-radius: 1rem;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        justify-content: flex-start;
    }

    .toggle-button {
        display: flex;

        .bar1.active {
            z-index: 20;
            transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
        }

        .bar2.active {
            opacity: 0;
        }

        .bar3.active {
            z-index: 20;
            transform: rotate(45deg) translate(-0.7rem, -0.8rem);
        }
    }

    .navbar-links {
        display: none;

        &.active {
            display: flex;
            background-color: $color-primary-brown;
            width: 50%;
            height: 100%;
            position: fixed;
            z-index: 10;
            top: 0;
            right: 0;
            -webkit-animation: slidein 0.5s forwards;
            animation: slidein 0.5s forwards;
        }

        ul {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding-top: 5.5rem;
        }

        li {
            a {
                font-size: 1.4rem;
                transition: color 0.3s ease;
                border: unset !important;

                &:hover {
                    color: $color-hover-default;
                    transition: color 0.3s ease;
                    background-color: unset;
                }
            }
        }

        .button-primary-filled {
            background-color: unset;
            border: unset;
        }

        .button-white-notfilled {
            background-color: unset;
            border: unset;
        }
    }
}

@-webkit-keyframes slidein {
    from {
        right: -300px
    }

    to {
        right: 0px;
    }
}

@keyframes slidein {
    from {
        right: -300px
    }

    to {
        right: 0px;
    }
}