@import "font";
@import "_colors";
@import "transitions";

:host {
    height: 100%;
    width: 100%;
}

.background {
    // background-image: url("/assets/homepage/fondImageViennoiseries.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 65rem;
    z-index: 0;
} 

p-carousel {
    width: 100%;
    height: 65rem;
    position: absolute;
}

.background::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.reveal {
    opacity: 0;
    transform: translateY(-1.5rem);

    &.reveal-visible {
        opacity: 1;
        transform: translateY(0);
        transition: 1s cubic-bezier(.5, 0, 0, 1);
    }
}

div.title {
    position: absolute;
    display: flex;
    width: 100%;
    height: 65rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-bakery {
        @include font-title-bakery();
        color: $color-primary;
        text-align: center;
        margin: 0;
        padding: 0.8rem;

        &::before {
            content: "-";
            margin-right: 0.8rem;
            color: $color-primary;
        }

        &::after {
            content: "-";
            margin-left: 0.8rem;
            color: $color-primary;
        }
    }

    .title-description {
        margin: 0;
        margin-top: 1.6rem;
        padding: 0.8rem;
        color: $color-primary;
        font-family: $font-family;
        font-size: $description-large-font-size;
        text-align: center;
    }

    .description {
        @include font-description-default();
        margin: 0;
        padding: 8px;
        color: white;
        opacity: 0.8;
        text-align: center;
    }

}

.body {
    padding-top: 65rem;
    display: flex;
    flex-direction: column;
    flex: 1;

    // pour le changement d'images 
    .owl-container { 
        width: 100%;
        display: flex;
        justify-content: center;

        .owl-nav {
            width: 8rem;
            height: 8rem;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                position: absolute;
                content: '';
                border-top: 1px solid $color-primary;
                border-left: 1px solid $color-primary;
                margin-top: -8rem;
                width: 100%;
                height: 100%;
                background: white;
                transform: rotate(45deg);
            }

            img {
                margin-top: -8rem;
                width: 4rem;
                height: 4rem;
                z-index: 1;
                opacity: 1;
                cursor: pointer;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

    }

    .div-article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 2.4rem;

        &>app-article-presentation {
            margin-top: 2.4rem;
        }
    }

    .div-team {
        margin-top: 8rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .img-team {
            flex: 0 1 50rem;
            max-width: 50rem;
            height: 30rem;
            position: relative;
            background-image: url("/assets/homepage/team.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;

            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        .div-team-description {
            padding-left: 3rem;

            h1 {
                margin: 0;
                @include font-title-primary();
            }

            p {
                @include font-description-default();
                width: 30rem;
                align-items: center;
                margin: 0;
            }
        }


    }
}

@media screen and (max-width: 600px) {

    div.title {
        justify-content: unset;
        padding-top: 20rem;

        .title-bakery {
            font-size: $title-small-font-size;
        }

        .title-description {
            font-size: $description-small-font-size;
            ;
        }

        .description {
            font-size: $text-font-size-14;
        }
    }

    .body .div-team {
        display: none;
    }

}