<!-- <div class="background"></div> -->
<!-- <div class="background"> </div> -->
<!-- <carousel [isAnimated]="false" [showIndicators]="false" style="position: absolute; width: 100%; height: 65rem; z-index: -1;">
  <ng-container *ngFor="let image of backgroundImages">
    <slide>
      <img [src]="image.image" [alt]="image.alt" style="display: block; width: 100%; height: 65rem;">
    </slide>
  </ng-container>
</carousel> -->

<!-- <div class="background"></div> -->

<div class="background">
  <p-carousel [page]="currentImageIndex" [value]="backgroundImages" [numVisible]="1" [numScroll]="1" autoplayInterval="4000"
    showIndicators="false" showNavigators="false">
    <ng-template let-image pTemplate="item">
      <img [src]="image.image" [alt]="image.name" style="height: 65rem; width: 100%;" />
    </ng-template>
  </p-carousel>
</div>


<div class="title reveal">
  <p class="title-bakery">La Boulangerie de Vincenzo</p>
  <p class="title-description">Boulangerie, Patisserie & Viennoiserie</p>
  <p class="description margin-top-24">
    Nous cherchons la satisfaction de nos clients à travers des produits de
    qualité et variés
  </p>
  <button class="button-primary-notfilled-rounded margin-top-24">Voir nos Produits</button>
</div>
<div class="body">
  <div class="owl-container"> <!-- fleches pour changer d'image -->
    <div class="owl-nav">
      <img src="assets/homepage/chevron_left.svg" alt="chevron gauche" (click)="getPreviousImage()">
      <!-- afficher l'image précedente -->
      <img src="assets/homepage/chevron_right.svg" alt="chevron droite" (click)="getNextImage()">
      <!-- afficher l'image suivante -->
    </div>
  </div>

  <div class="div-article">
    <app-article-presentation [image_src]="PATH_CAKE" [description]="DESCRIPTIF_CAKE" [title]="'Nos Gateaux'"
      class="reveal"></app-article-presentation>
    <app-article-presentation [image_src]="PATH_BREAD" [description]="DESCRIPTIF_BREAD" [title]="'Nos Pains'"
      class="reveal"></app-article-presentation>
    <app-article-presentation [image_src]="PATH_SANDWICH" [description]="DESCRIPTIF_SANDWICH" [title]="'Nos Sandwichs'"
      class="reveal"></app-article-presentation>
    <app-article-presentation [image_src]="PATH_VIENNOISERIES" [description]="DESCRIPTIF_VIENNOISERIES"
      [title]="'Nos Viennoiseries'" class="reveal"></app-article-presentation>
  </div>
  <div class="div-team">
    <div class="img-team reveal"></div>
    <div class="div-team-description reveal">
      <h1 class="margin-bottom-8">Nos Equipes </h1>
      <p> Nos équipes sont primordiales car elles représentent le fondement même de nos métiers et de notre marque</p>
    </div>
  </div>
</div>