@import "colors";

$default-border-radius : 0.6rem;

@mixin button-default-style {
    border-radius: $default-border-radius;
    border-width: 0.1rem;
    border-style: solid;
}


.button-primary-filled {
    @include button-default-style();
    background-color: $color-hover-filled-primary;
    border-color: $color-hover-filled-primary;
    transition: all 0.3s ease;

    &:hover{
        background-color: $greyColor;
        border-color: $greyColor;
        transition: all 0.3s ease;
    }
}

// bouton orange (champs de connexion par exemple) : proprieté ex: hover non défini
.button-primary-filled-unset {
    @include button-default-style();
    border-radius: 0.6rem;
    background-color: $color-primary;
    border-color: $color-primary;
    font-family: $font-family;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-white-notfilled-primary {
    @include button-default-style();
    background-color: unset;
    border-color: white;
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-hover-filled-primary;
        border-color: $color-hover-filled-primary;
        transition: all 0.3s ease;

    }
}

.button-white-notfilled-whiteborder{
    @include button-default-style();
    background-color: unset;
    border-color: white;
    color: white;
    cursor: pointer;

    &:hover {
        border-width: 0.2rem;
        transition: all 0.1s ease-in-out;
    }
}

.button-primary-notfilled-rounded {
    border-radius: 4rem;
    border-style: solid;
    color: $color-primary;
    background-color: transparent;
    height: 4rem;
    min-width: 18rem;
    font-family: $font-family;
    border-color: $color-primary;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover{
        background-color: $color-primary;
        color: white;
    }
}