$orangeColor: #e7931a;
$orangeDarker: #FF8C00;
$brownColor: #462e01;
$greyColor: #343434;
$greyLightColor: #A8A8A8;
$greyMediumColor: #939393;

$color-primary : $orangeColor;
$color-primary-darker :$orangeDarker;
$color-primary-brown: $brownColor;
$color-hover-default : $orangeColor;
$color-hover-filled-primary: $orangeColor;

.primary-color{
    color: $color-primary !important;
}