$font-family: "Raleway", sans-serif;
$font-family-title: "Great Vibes", cursive;
$font-family-menu: "Great Vibes", cursive;

$title-large-font-size : 4.5rem;
$title-small-font-size : 3rem;

$description-large-font-size : 4rem;
$description-small-font-size : 2.5rem;

$text-font-size-12 : 1.2rem;
$text-font-size-14 : 1.4rem;
$text-font-size-16 : 1.6rem;
$text-font-size-18 : 1.8rem;

@mixin font-default() {
    font-size: $text-font-size-12;
    font-family: $font-family;
}

@mixin font-description-default() {
    font-size: $text-font-size-14;
    font-family: $font-family;
}

@mixin font-navigation-menu(){
    font-size: 1.8rem;
    font-family: $font-family;
}

@mixin font-title-primary {
    font-size: $title-small-font-size;
    font-family: $font-family;
}

@mixin font-title-article {
    font-size: $title-small-font-size;
    font-family: $font-family-title;
}

@mixin font-title-bakery(){
    font-size: $title-large-font-size;
    font-family: $font-family-title;
}