.margin-right-8 {
    margin-right: 0.8rem !important;
}

.margin-bottom-8 {
    margin-bottom: 0.8rem !important;
}

.margin-top-8 {
    margin-top: 0.8rem !important;
}

.margin-left-8 {
    margin-left: 0.8rem !important;
}

.margin-top-24 {
    margin-top: 2.4rem !important;
}