@use '@angular/material' as mat;
@include mat.core();
@import "colors";
@import "font";
@import "transitions";
@import "buttons";
@import "margin";

/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    font-size: 10px;

}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    @include font-default();
}

button {
    outline: none;
}


.text-error {
    color: red;
    text-align: center;
    margin: 0;
    padding: 0;
}