<mat-card class="card">
    <div class="overlay-hover">
        <p> {{title}}</p>
        <button class="button-white-notfilled-whiteborder"> <span>Voir nos produits</span></button>
    </div>
    <div class="full">
      <img mat-card-image [src]="image_src" alt="Photo article" />
      <div class="overlay"></div>
    </div>
    <mat-card-content>
      <p class="description">
          {{description}}
      </p>
    </mat-card-content>
</mat-card>
  