@use '@angular/material' as mat;
@import "font";
@import "_colors";

.card {
    position: relative;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
    @include mat.elevation(8);

    .overlay-hover {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        left: 0;
        right: 0;
        bottom: -30rem;
        background-color: grey;
        opacity: 0.9;
        transition: bottom 0.5s ease;
        z-index: 10;

        p {
            @include font-title-article();
            margin: 0.8rem;
            color: white;
        }

        button {
            color: white;
            flex: 0 1 3rem;

            span {
                position: relative;
                display: inline-block;
                overflow: hidden;
                transition: all 0.3s ease;

                &::after {
                    content: " \00bb";
                    position: absolute;
                    color: white;
                    opacity: 0;
                    top: 0;
                    right: -2rem;
                    transition: all 0.3s ease;
                }
            }

            &:hover {
                span {
                    padding-right: 2.5rem;

                    &::after {
                        opacity: 1;
                        right: 0;
                    }
                }
            }
        }
    }

    &:hover {
        .overlay-hover {
            transition: all 0.5s ease;
            bottom: 0;
        }
    }
}

.full {
    .overlay {
        position: absolute;
        margin: 0 -1.6rem 1.6rem -1.6rem;
        top: 0;
        left: 0;
        width: calc(100% + 32px);
        height: 20rem;
        background: rgba(0, 0, 0, .4);
    }
}

img {
    height: 20rem;
}

.description {
    @include font-description-default();
    text-align: center;
}